{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 7 },
          "useBuiltIns": "usage"
        }]
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 7 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ],
      "plugins": [
        ["babel-plugin-transform-builtin-extend", {
          "globals": ["Error"]
        }],
        "@babel/plugin-transform-runtime"
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ],
      "plugins": [
        ["babel-plugin-transform-builtin-extend", {
          "globals": ["Error"]
        }],
        "@babel/plugin-transform-runtime"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-property-mutators",
    "@babel/plugin-proposal-class-properties"
  ]
}
